[Unit]
Description=Kubernetes Controller Manager
Documentation=https://kubernetes.io/docs/home/

[Service]
ExecStart={{ kube_bin_dir }}/kube-controller-manager \
    --allocate-node-cidrs=true \
    --authentication-kubeconfig={{ kube_dir }}/controller-manager.conf \
    --authorization-kubeconfig={{ kube_dir }}/controller-manager.conf \
    --bind-address=127.0.0.1 \
    --client-ca-file={{ kube_dir }}/pki/ca.crt \
    --cluster-signing-cert-file={{ kube_dir }}/pki/ca.crt \
    --cluster-signing-key-file={{ kube_dir }}/pki/ca.key \
    --cluster-cidr={{ cluster_CIDR }} \
    --controllers=*,bootstrapsigner,tokencleaner \
    --kubeconfig={{ kube_dir }}/controller-manager.conf \
    --leader-elect=true \
    --requestheader-client-ca-file={{ kube_dir }}/pki/front-proxy-ca.crt \
    --root-ca-file={{ kube_dir }}/pki/ca.crt \
    --service-account-private-key-file={{ kube_dir }}/pki/sa.key \
    --use-service-account-credentials=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target