apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_base64.content }}
    server: https://127.0.0.1:6443
  name: kubernetes
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ kube_scheduler_cert_base64.content }}
    client-key-data: {{ kube_scheduler_key_base64.content }}
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
