[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
{% if not docker_ver_less_than_18_09 %}
BindsTo=containerd.service
{% endif %}
After=network-online.target {% if not docker_ver_less_than_18_09 %}containerd.service{% endif %} 
Wants=network-online.target docker.socket

[Service]
Type=notify
ExecStart={{ docker_bin_dir }}/dockerd
ExecReload=/bin/kill -s HUP $MAINPID

TimeoutSec=0
RestartSec=2
Restart=always

StartLimitBurst=3
StartLimitInterval=60s

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

TasksMax=infinity
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
