apiVersion: v1
kind: Pod
metadata:
  name: nginx-proxy
  namespace: kube-system
  labels:
    k8s-app: kube-nginx
spec:
  hostNetwork: true
  nodeSelector:
    beta.kubernetes.io/os: linux
  priorityClassName: system-node-critical
  containers:
  - name: nginx-proxy
    image: {{ nginx_image }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 25m
        memory: 32M
    securityContext:
      privileged: true
    livenessProbe:
      httpGet:
        path: /healthz
        port: {{ nginx_proxy_healthcheck_port }}
    readinessProbe:
      httpGet:
        path: /healthz
        port: {{ nginx_proxy_healthcheck_port }}
    volumeMounts:
    - mountPath: /etc/nginx/nginx.conf
      name: nginx-conf
      readOnly: true
  volumes:
  - name: nginx-conf
    hostPath:
      path: {{ nginx_proxy_dir }}/nginx.conf
      type: FileOrCreate
